:root {
    --primary-color: #a4f4f9;
    --secondary-color: #4B4E53;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.primary-border {
    border-color: var(--primary-color)
}

.secondary-border {
    border-color: var(--secondary-color)
}

/* Header & Nav Bar Styling */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 42px;
    line-height: 1.25;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

.heading {
    background-color: var(--primary-color);
    text-align: right;
    width: 33%;
    margin: 10px 0;
    padding-right: 7px;
}

header nav {
    margin: 7px 75px;
    display: flex;
    width: max-content;
    justify-content: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    border-bottom: 3px solid var(--primary-color);
    margin: 5px;
    padding-bottom: 3px;
}

header nav ul li a {
    padding: 10px;
    font-weight: 350;
    font-size: 18px;
}
/* Header & Nav Bar Styling ENDS*/

/* Hero Styling */
.hero {
    background-image: url("../images/modern-gold-background-free-vector.jpeg");
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.hero-subtitle {
    background-color: var(--primary-color);
    width: max-content;
    margin: 200px 75px 10px 0;
    font-size: 28px;
    padding: 5px;
}