:root {
    --primary-color: #85e5e5;
    --secondary-color: #4B4E53;
    --tertiary-color: #5a6f89;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    background-color: #f0f0f0;
    font-family: Helvetica, Arial, sans-serif;
}

.primary-border {
    border-color: var(--primary-color)
}

.secondary-border {
    border-color: var(--secondary-color)
}

/* Header & Nav Bar Styling */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 42px;
    line-height: 1.25;
    color: var(--secondary-color);
}

.heading {
    background-color: var(--primary-color);
    text-align: right;
    width: 33%;
    margin: 10px 0;
    padding-right: 7px;
}

header nav {
    margin: 7px 75px;
    display: flex;
    width: max-content;
    justify-content: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    border-bottom: 3px solid var(--primary-color);
    margin: 5px;
    padding-bottom: 3px;
}

header nav ul li a {
    padding: 10px;
    font-weight: 350;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
}
/* END Header & Nav Bar Styling */

/* Hero Styling */
.hero {
    background-image: url("../images/modern-gold-background-free-vector.jpeg");
    background-size: cover;
    justify-content: right;
}

.hero-subtitle {
    background-color: var(--primary-color);
    width: max-content;
    margin-top: 125px;
    font-size: 28px;
    padding: 5px;
}

.hero-subtitle h2 {
    font-weight: normal;
    color: var(--secondary-color);
}
/* END Hero Styling */

/* Section Styling */
section {
    padding: 25px 75px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    width: 25%;
    justify-content: right;
    border-right: 3px solid var(--tertiary-color);
}

.section-title h2 {
    font-size: 55px;
    margin-right: 5%;
    text-align: right;
}

.section-info {
    display: flex;
    flex: 2;
    margin-left: 25px;
}
/* END Section Styling */

/* My Work Styling */
.work {
    justify-content: center;
}

.work img {
    border: 5px solid var(--primary-color);
    opacity: 60%;
    width: 100%;
    height: 100%
}

.big-screen {
    flex: 1;
}

.small-screen {
    flex: 0.5;
}

/* Contact Me Styling */
.section-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

.section-info ul li {
    border-bottom: 3px solid var(--tertiary-color);
    margin: 5px;
    padding-bottom: 3px;
}

.section-info ul li a {
    padding: 10px;
    font-weight: 350;
    font-size: 1.25vw;
    color: var(--tertiary-color);
    text-decoration: none;
}